/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
container bg-white max-w-[1280px] max-h-[800px] w-full h-full -ml-[16rem] -mt-[10vh]
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

} */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Font : Noto Sans CJK KR */
@font-face {
  font-family: "NotoSansCJKKR";
  font-style: thin;
  font-weight: 100;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Thin.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Thin.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Thin.otf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "NotoSansCJKKR";
  font-style: demi-light;
  font-weight: 200;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-DemiLight.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-DemiLight.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-DemiLight.otf') format('truetype');
}
@font-face {
  font-family: "NotoSansCJKKR-italic";
  font-style: italic;
  font-weight: 300;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Light.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Light.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Light.otf') format('truetype');
}
@font-face {
  font-family: "NotoSansCJKKR";
  font-style: normal;
  font-weight: 400;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Regular.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Regular.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Regular.otf') format('truetype');
}
@font-face {
  font-family: "NotoSansCJKKR";
  font-style: medium;
  font-weight: 500;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Medium.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Medium.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Medium.otf') format('truetype');
}
@font-face {
  font-family: "NotoSansCJKKR";
  font-style: bold;
  font-weight: 700;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Bold.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Bold.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Bold.otf') format('truetype');
}
@font-face {
  font-family: "NotoSansCJKKR";
  font-style: black;
  font-weight: 900;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Black.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Black.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Black.otf') format('truetype');
}
/* Font : GothamRounded */
@font-face {
  font-family: "GothamRounded";
  font-style: light;
  font-weight: 100;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-Light.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-Light.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-Light.otf') format('truetype');
}
@font-face {
  font-family: "GothamRounded-italic";
  font-style: italic;
  font-weight: 100;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-LightIta.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-LightIta.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-LightIta.otf') format('truetype');
}
@font-face {
  font-family: "GothamRounded";
  font-style: normal;
  font-weight: 300;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-Book.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-Book.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-Book.otf') format('truetype');
}
@font-face {
  font-family: "GothamRounded-italic";
  font-style: italic;
  font-weight: 300;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-BookIta.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-BookIta.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-BookIta.otf') format('truetype');
}
@font-face {
  font-family: "GothamRounded";
  font-style: medium;
  font-weight: 500;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-Medium.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-Medium.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-Medium.otf') format('truetype');
}
@font-face {
  font-family: "GothamRounded-italic";
  font-style: italic;
  font-weight: 500;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-MedIta.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-MedIta.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-MedIta.otf') format('truetype');
}
@font-face {
  font-family: "GothamRounded";
  font-style: bold;
  font-weight: 700;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-Bold.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-Bold.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-Bold.otf') format('truetype');
}
@font-face {
  font-family: "GothamRounded-italic";
  font-style:italic;
  font-weight: 700;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-BoldIta.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-BoldIta.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-BoldIta.otf') format('truetype');
}
/* Font : Roboto */
@font-face {
  font-family: "Roboto";
  font-style: thin;
  font-weight: 100;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Thin.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Thin.ttf') format('woff'),
      url('./font/Roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto-italic";
  font-style: italic;
  font-weight: 100;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-ThinItalic.ttf') format('woff2'),
      url('./font/Roboto/Roboto-ThinItalic.ttf') format('woff'),
      url('./font/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: light;
  font-weight: 300;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Light.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Light.ttf') format('woff'),
      url('./font/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto-italic";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-LightItalic.ttf') format('woff2'),
      url('./font/Roboto/Roboto-LightItalic.ttf') format('woff'),
      url('./font/Roboto/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Regular.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Regular.ttf') format('woff'),
      url('./font/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Medium.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Medium.ttf') format('woff'),
      url('./font/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto-italic";
  font-style: italic;
  font-weight: 500;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-MediumItalic.ttf') format('woff2'),
      url('./font/Roboto/Roboto-MediumItalic.ttf') format('woff'),
      url('./font/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Bold.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Bold.ttf') format('woff'),
      url('./font/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto-italic";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-BoldItalic.ttf') format('woff2'),
      url('./font/Roboto/Roboto-BoldItalic.ttf') format('woff'),
      url('./font/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Black.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Black.ttf') format('woff'),
      url('./font/Roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto-italic";
  font-style: italic;
  font-weight: 900;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-BlackItalic.ttf') format('woff2'),
      url('./font/Roboto/Roboto-BlackItalic.ttf') format('woff'),
      url('./font/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}
/* pathfinder */
@font-face {
  font-family: "Pathfinder";
  font-style: normal;
  font-weight: 400;
  src: local("Pathfinder"),
      url('./font/Pathfinder/Pathfinder-R.otf') format('woff2'),
      url('./font/Pathfinder/Pathfinder-R.otf') format('woff'),
      url('./font/Pathfinder/Pathfinder-R.otf') format('truetype');
}
@font-face {
  font-family: "Pathfinder";
  font-style: bold;
  font-weight: 700;
  src: local("Pathfinder"),
      url('./font/Pathfinder/Pathfinder-B.otf') format('woff2'),
      url('./font/Pathfinder/Pathfinder-B.otf') format('woff'),
      url('./font/Pathfinder/Pathfinder-B.otf') format('truetype');
}
/* font */
.font-notoSansCJKKR {
  font-family: 'NotoSansCJKKR';
}
.font-gothamRounded {
  font-family: GothamRounded;
}
.font-roboto {
  font-family: 'Roboto';
}
.font-pathfinder {
  font-family: 'PathFinder';
}

#root {
  font-family: "Noto Sans CJK KR";
  font-weight: 400;
  font-style: normal;
  @apply
  w-full
  h-full
  
}
body {
  /* width: 100vw;
  height: 100vh;
  background-color: black; */
  *::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  };
  *::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    background-clip: padding-box;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
  };
  *::-webkit-scrollbar-corner {
    display: none;
  }
  @apply
  m-0
  
  w-[100vw]
  h-[100vh]
  flex
  items-center
  justify-center
  
}
.display-page-screen {
  @apply
  w-full
  h-[calc(100vh-120px)]
  px-[20px]
  py-[15.5px]
  bg-[#EBEBEB]
}
.section-common-layout {
  @apply
  w-full
  h-full
  /* px-[20px]
  py-[15.5px] */
  bg-white
}
.section-common-aside-layout {
  @apply
  w-full
  h-full
  bg-white
}

.scetion-common-filter-row-div {
  @apply
  flex
  flex-row
  min-w-fit
  w-full
  /* justify-between
  w-[521px] */
}
.scetion-common-filter-row-div-spark {
  @apply
  flex
  flex-col
  min-w-fit
  w-full
  /* justify-between
  w-[521px] */
}
.section-common-filter-columns-div {
  @apply
  flex gap-[24px] mr-[24px]
}
.section-common-filter-search-normal {
  @apply
  bg-[#EAEAEA] text-[#999999] cursor-not-allowed
}
.section-common-filter-search-active {
  @apply
  bg-[#222222] text-white cursor-pointer
}
.section-common-table-wrap-div {
  @apply
  flex
  flex-col
  min-w-fit
  w-full
  h-full
  overflow-auto
}

/* level & Textbook */
.section-common-canvas {
  @apply
  flex
  flex-1
  flex-col
  w-full
  h-full
  justify-center
}
/* feedback canvas */
.section-feedback-canvas {
  @apply
  flex
  flex-1
  flex-col
  w-full
  min-w-fit
  h-full
  justify-start
  bg-white
}
/* Dropdown  */
.CSS-dropdown-menu-button {
  @apply inline-flex
  max-w-[230px]
  /* w-[230px] */
  w-full
  h-full
  justify-center
  items-center
  shadow-none
  /* rounded-md */
  
  font-normal
  
  /* border-none */
  text-[18px]
  text-[#E9E9E9]
  
  hover:font-bold
  hover:text-white
  /* hover:border-transparent */
  hover:border-b-[4px]
  hover:border-b-white
}
.CSS-dropdown-menu-button-active {
  @apply inline-flex
  max-w-[230px]
  /* w-[230px] */
  w-full
  h-full
  justify-center
  items-center
  shadow-none
  
  font-bold 
  text-[18px]
  text-white
  border-transparent
  border-b-[4px]
  border-b-white
}

.CSS-dropdown-menu-items {
  @apply 
  absolute 
  w-[230px]
  left-0
  -mt-[4px]
  z-10
  origin-top-right 
  rounded-bl-md
  rounded-br-md
  bg-white
  shadow-lg 
  ring-1 
  ring-black 
  ring-opacity-5 
  focus:outline-none
  border-t-[4px]
  border-white
}
.CSS-dropdown-munu-item-a-default {
  @apply block px-4 py-2 text-[14px]
  bg-white
  text-[#999999]
  font-sans
  font-light
  text-left
  w-full
  h-[34px]
}
.CSS-dropdown-munu-item-a-select {
  @apply block px-4 py-2 text-[14px]
  bg-[#EBEBEB]
  text-[@222222]
  font-sans
  font-normal
  text-left
  w-full
  h-[34px]
}
.CSS-backup-table-item-default {
  @apply bg-white
}
.CSS-backup-table-item-select {
  @apply 
  bg-slate-500
}

/* Filter Dropdown */
/* Dropdown  */
.Filter-CSS-dropdown-menu-button {
  letter-spacing: normal;
  text-align: left;
  @apply inline-flex
  min-w-[140px]
  w-fit
  h-[36px]
  justify-between
  items-center
  rounded-[2px]
  whitespace-nowrap
  shadow-sm
  ml-4
  px-4 py-1 
  font-notoSansCJKKR
  text-[14px]
  text-[#222]
  font-medium
  leading-[1.43]
  

  border
  disabled:bg-[#eaeaea]
  disabled:text-[#999999]
  disabled:border-[#bbbbbb]
}

.Filter-CSS-dropdown-menu-items {
  @apply 
  absolute 
  w-full
  left-0 
  text-[#222]
  z-10
  origin-top-right 
  rounded-bl-md
  rounded-br-md
  bg-white
  shadow-lg 
  ring-1 
  ring-black 
  ring-opacity-5 
  focus:outline-none
}
.Filter-CSS-dropdown-munu-item-a-default {
  @apply block px-4 py-2 text-sm 
  bg-white
  text-left
  w-full
  h-full
}
.Filter-CSS-dropdown-munu-item-a-select {
  @apply block px-4 py-2 text-sm 
  bg-gray-200 
  text-left
  w-full
  h-full
}
.Filter-CSS-backup-table-item-default {
  @apply bg-white
}
.Filter-CSS-backup-table-item-select {
  @apply 
  bg-slate-500
}

.Filter-search-button {
  @apply flex
  
  justify-center
  items-center
  w-[117px]
  h-[36px]
  text-[14px]
  gap-2
  rounded-[2px]
  font-notoSansCJKKR
  border
  border-[#BBBBBB]
}

/* Table */

/* table wrapping div */
.table-wrap-div {
  @apply
  flex
  flex-1
  w-full
  h-full
  relative
  border-t-[1px]
  border-t-[#111]
}
/* table */
.table-basic {
  @apply
  text-left
  w-full
  h-fit
  border-collapse
}
.table-aside {
  @apply
  text-left
  max-w-[calc(100vw-274px)]
  w-full
  h-fit
  border-collapse
}

/* thead */
.table-thead-basic {
  @apply
  capitalize
}
.table-thead-tr-basic {
  @apply
  bg-[#F6FDFF]
}
.table-thead-tr-th-basic {
  @apply
  h-[34px]
  text-center
  text-[#222222]
  text-[14px]
  leading-[1.79]
  font-sans
  font-normal
  border
  whitespace-nowrap
}
.table-thead-tr-th-basic-role-play {
  @apply
  h-[34px]
  text-center
  text-[#222222]
  text-[14px]
  leading-[1.79]
  font-sans
  font-normal
  whitespace-nowrap
}

/* tbody */
.table-tbody-basic {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  @apply
  h-fit
  text-[#444444]
}
/* tr */
.table-tbody-tr-basic {
  @apply
  /* max-h-[2.5rem] */
  max-h-[76px]
  h-[38px]
}

/* td */
.table-tbody-tr-td-basic {
  @apply
  h-[38px]
  text-[13px]
  font-sans
  whitespace-nowrap
  border
}
.table-tbody-tr-td-gray {
  @apply
  h-[38px]
  text-[13px]
  font-sans
  whitespace-nowrap
  border
  bg-[#F9F9F9]
}

/*  */

/* StoryVlog table */
/* thead */
/* th */
.story-vlog-table-thead-th {
  @apply
  w-fit
  py-2
  px-2
  text-center
}

/* Role-play table */
/* thead */
/* th */
.role-play-table-thead-th {
  @apply
  min-w-fit
  w-16
  py-2
  px-2
  text-center
  whitespace-nowrap
}
/* td */
.role-play-table-td-elipsis {
  @apply
  text-[13px]
  font-normal
  
  overflow-ellipsis
  whitespace-nowrap
  py-2
  px-2
  w-[300px]
}
.role-play-table-td-basic {
  @apply
  text-[13px]
  font-normal
  
  whitespace-nowrap
  text-center
}

/* Outlint Format Button Custom */
.outline-accordion-div-wrap {
  @apply
  flex
  flex-col
  w-full
  h-full
  relative
  max-h-[]
}
.outline-accordion-button {
  @apply
  flex
  flex-1
  items-center
  justify-center
  h-full
  w-full
  relative
  
  pb-5
  font-medium 
  text-center
  text-white
  bg-white 
  border-[#a5a5a5] 
  border-b-0 
  focus:ring-4 
  focus:ring-gray-200;
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 50% 100%, 0% 60%);
}
.outline-accordion-button-inner {
  @apply
  flex
  flex-1
  items-center
  justify-center
  h-full
  w-full
  relative
  p-4 
  font-medium 
  text-center
  text-white
  bg-[#a5a5a5] 
  border-[#a5a5a5] 
  border-b-0 
  focus:ring-4 
  focus:ring-gray-200;
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.buttons-div {
  @apply
  
  
  bottom-[15px]
  right-[20px]
  flex
  gap-4
  w-full
  h-[81px]
  bg-[#fff]
  justify-end
  py-[20px]
  px-[23px]
}
.buttons-div-button {
  @apply
  border-0
  text-[14px]
  text-[#fff]
  bg-[#0fa9cb]
  rounded-[2px]
  hover:cursor-pointer
  px-[28px]
  py-[10px]
}
.buttons-div-button-disabled {
  @apply
  border-[1px]
  border-[#bbb]
  text-[14px]
  text-[#999999]
  bg-[#eaeaea]
  rounded-[2px]
  px-[28px]
  py-[10px]
  hover:cursor-not-allowed
}

/* charts */
.pie-button-effect-none *{
  border: none;
  outline: none;
}
.legend-ul-custom {
  @apply
  flex
  flex-row
  justify-center
  gap-4
}

/* 학습 관리 */
/* writing hub */
/* student filter datas page */
.learning-management-class-info-text {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #222;
  @apply
  flex flex-1
  font-notoSansCJKKR
}
.learning-management-book-info-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #222;
  @apply
  flex flex-1
  font-notoSansCJKKR
}
.learning-management-class-table-text {
  font-size: 13px;
  text-align: center;
  line-height: 1.23;
  @apply
  flex
  font-notoSansCJKKR
  text-[#444]
  h-[19px]
}
.learning-management-class-table-complete-question-wrapper {
  /* width: 28px; */
  height: 28px;
  display: flex;
  justify-content: center;
}
.learning-management-class-table-complete-question-icon {
  width: 10px;
  height: 10px;
  object-fit: contain;
  box-shadow: 0.8px 0.8px 0 0 rgba(255, 255, 255, 0.3);
  background-color: var(--material-theme-ref-primary-primary-100);
}
.learning-management-analysis-lesson-question {
  height: 24px;
  margin: 0 0 0 8px;
  font-family: NotoSansCJKKR;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.learning-management-analysis-info-name {
  height: 24px;
  margin: 0 6px 0 0;
  font-family: NotoSansCJKKR;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: #444;
}
.learning-management-analysis-table-th {
  height: 19px;
  margin: 11px 247px 0 129px;
  font-family: NotoSansCJKKR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: center;
  color: #222;
  @apply
  w-[330px]
}
.learning-management-analysis-table-td {
  height: 19px;
  margin: 12.5px 158px 12px;
  font-family: NotoSansCJKKR;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: center;
  color: #222;
  @apply
  text-center
}
.learning-result-management-portfolio-text-box {
  width: 660px;
  height: 303px;
  margin: 14px 0 0;
  padding: 25px 8px 25px 25px;
  border-radius: 2px;
  background-color: #f9f9f9;
  overflow: auto;
}
.learning-result-management-portfolio-text-span {
  margin: 0 15px 0 0;
  font-family: NotoSansCJKKR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.learning-management-class-table-empty-draft {
  @apply
  border-l-[1px]
  border-l-[#e2e3e6]
  border-r-[1px]
  border-r-[#e2e3e6]
  text-center
  w-[95px]
}
.learning-management-class-table-empty-report {
  @apply
  border-l-[1px]
  border-l-[#e2e3e6]
  border-r-[1px]
  border-r-[#aaa]
  text-center
}

.learning-management-class-table-no {
  font-size: 13px;
  text-align: center;
  line-height: 1.92;
  @apply
  /* flex
  items-center */
  font-notoSansCJKKR
  text-[#444]
  /* h-[19px] */
}
.learning-management-class-table-item-wrap {
  @apply
  w-full
  inline-flex
  flex-col
  justify-center
  items-center
  h-[76px] gap-[7px]
}
.learning-management-class-table-button {
  @apply
  w-[82px]
  h-[36px]
  rounded-[2px]
  flex
  justify-center
  items-center
  hover:cursor-pointer
}
.learning-management-class-table-button-status-2 {
  @apply
  w-[82px]
  h-[36px]
  bg-svg-bt-correct
  bg-no-repeat
  hover:bg-svg-bt-correct-over
}
.learning-management-class-table-button-status-3 {
  @apply
  w-[82px]
  h-[36px]
  bg-svg-bt-correct-save
  bg-no-repeat
  hover:bg-svg-bt-correct-save-over
}
.learning-management-class-table-button-status-4 {
  @apply
  w-[82px]
  h-[36px]
  bg-svg-bt-done
  bg-no-repeat
  hover:bg-svg-bt-done
}
.learning-management-class-table-button-status-5 {
  @apply
  w-[82px]
  h-[36px]
  bg-svg-bt-returned
  bg-no-repeat
  hover:bg-svg-bt-returned-over
}
/* feedback page */
.learning-management-feedback-info-box {
  @apply
  flex
  flex-row
  bg-[#f9f9f9]
  w-full
  min-w-fit
  h-[60px]
  items-center
  font-notoSansCJKKR
  text-[14px]
  leading-[1.43]
  text-[#222]
  border-[1px]
  border-[#ddd]
}
.learning-management-feedback-return-button {
  @apply
  absolute
  right-[20px]
  bottom-[20px]
  w-[111px]
  h-[40px]
  bg-svg-bt-return
  bg-no-repeat
  hover:cursor-pointer
  hover:bg-svg-bt-return-over
}
.learning-management-feedback-return-button-disabled {
  @apply
  absolute
  right-[20px]
  bottom-[20px]
  w-[111px]
  h-[40px]
  bg-svg-bt-return-disable
  bg-no-repeat
}
.learning-management-advisor-open-button {
  @apply
  block
  w-[54px]
  h-[187px]
  bg-svg-bt-advisor
  bg-no-repeat
  hover:cursor-pointer
  hover:bg-svg-bt-advisor-over
}

.draft-viewer-container-title {
  @apply
  flex w-full min-h-[42px] h-fit bg-[#f9f9f9] px-[15px] py-[12px]
  rounded-[2px]
}
.draft-viewer-container-body {
  @apply
  flex
  flex-col
  mt-[10px]
  p-[25px]
  w-full
  h-[calc(100vh-455px)]
  overflow-auto
  bg-[#f9f9f9]
  justify-start
}
.final-draft-viewer-2nd-preview {
  @apply
  min-w-[400px] bg-white
  h-[calc(100vh-400px)]
}

.update-words {
  @apply
  h-fit
}
.comment-wrapper {
  @apply
  flex
  flex-row
  relative
  w-full
  pl-[10px]
  h-[40px]
  min-h-[40px]
  border-[1px]
  border-[#dbdbdb]
}
.comment-input {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.77;
  @apply
  flex w-[calc(100%-30px)] 
  outline-none
  font-notoSansCJKKR
}
.comment-overall-wrap-div {
  @apply
  flex
  flex-col
  w-full
  h-full
  max-h-[179px]
  px-[20px]
  gap-[10px]
}
.learning-management-left-side-menu-font {
  font-family: NotoSansCJKKR;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.comment-overall-label {
  font-family: NotoSansCJKKR;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  @apply
  flex
  flex-row
  capitalize
}
.learning-management-title-label {
  font-family: NotoSansCJKKR;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  @apply
  flex
  flex-row
  capitalize
}
.comment-overall-textarea {
  font-family: NotoSansCJKKR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.77;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  @apply
  flex
  h-full
  max-h-[145px]
  border-[1px]
  border-[#dbdbdb]
  outline-none
  focus:outline-none
  focus:ring-0
  focus:border-[#dbdbdb]
  placeholder:ordinal
  placeholder:text-[#999]
}
.final-component-title-label-font {
  @apply
  font-notoSansCJKKR text-[16px] text-[#222] leading-[1.13]
}
.comment-final-overall-textarea {
  @apply
  flex
  w-[600px]
  h-[180px]
  border-[1px]
  border-[#dbdbdb]
  outline-none
  focus:outline-none
  focus:ring-0
  focus:border-[#dbdbdb]
  resize-none disabled:bg-white

}
.comment-close {
  @apply
  absolute
  right-[0px]
  top-[3px]
  w-[30px]
  h-[30px]
}
.comment-button-wrap-div {
  @apply
  flex
  flex-row
  justify-end
  items-center
  gap-[10px]
  p-[20px]
  w-full
  h-[80px]
  min-h-[80px]
  max-h-[80px]
  border-t-[1px]
  border-t-[#e2e3e6]
}
.comment-button {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  @apply
  flex
  h-[40px]
  uppercase
  px-[29px]
  items-center
  font-notoSansCJKKR
}
.comment-button-close {
  @apply
  h-[40px]
  w-[102px]
  bg-svg-bt-close
  bg-no-repeat
  hover:bg-svg-bt-close-over
}
.comment-button-save {
  @apply
  h-[40px]
  w-[102px]
  bg-svg-bt-save
  bg-no-repeat
  hover:bg-svg-bt-save-over
}
.button-icon-print {
  @apply
  h-[36px]
  w-[36px]
  bg-no-repeat
  bg-svg-bt-print
}
.button-icon-pdf {
  @apply
  h-[36px]
  w-[36px]
  bg-no-repeat
  bg-svg-bt-pdf
}
.comment-button-create-report {
  @apply
  h-[40px]
  w-[182px]
  bg-no-repeat
  bg-svg-bt-create-report
  hover:bg-svg-bt-create-report-over
}
.comment-button-create-report-disabled {
  @apply
  h-[40px]
  w-[182px]
  bg-no-repeat
  bg-svg-bt-create-report-disabled
}
.comment-button-save-disabled {
  @apply
  h-[40px]
  w-[102px]
  bg-svg-bt-save-disabled
  bg-no-repeat
}
.comment-button-send {
  @apply
  h-[40px]
  w-[102px]
  bg-svg-bt-send
  bg-no-repeat
  hover:bg-svg-bt-send-over
}
.comment-button-send-disabled {
  @apply
  h-[40px]
  w-[102px]
  bg-svg-bt-send-disabled
  bg-no-repeat
}
.comment-button-add {
  @apply
  h-[47px]
  w-[119px]
  bg-svg-bt-comment-add
  bg-no-repeat
}
.comment-div-title-label-wrap {
  @apply
  flex
  flex-row
  items-center
  h-[24px]
  gap-[8px]
}
.comment-div-title-label-before-bar {
  @apply
  flex w-[3px] h-[12px] bg-[#0fa9cb]
}
.comment-div-title-label-text {
  @apply
  flex
  font-notoSansCJKKR
  leading-[1.13]
  text-left
  text-[16px]
  text-[#222]
  font-medium
}
.comment-advisor-label-wrap {
  @apply
  flex
  flex-row
  h-[42px]
  text-white
  capitalize
  items-center
  hover:cursor-pointer
  pl-[15px]
  rounded-t-[2px]
}
.comment-advisor-wrap-text {
  font-size: 13px;
  line-height: 1.92;
  @apply
  flex flex-col border-[1px] px-[15px] py-[12px]
  font-notoSansCJKKR
  text-[#222]
  gap-[13px]
  min-h-[144px]
  overflow-y-auto 
}
.comment-advisor-div {
  @apply
  flex
  flex-col
  max-h-[calc(100vh-320px)]
  px-[20px] py-[20px] gap-[20px]
}
.comment-advisor-contents {
  @apply
  flex
  flex-col
  gap-[10px]
  /* max-h-[calc(100vh-380px)] */
  overflow-y-auto
}
.comment-review-contents {
  @apply
  flex flex-row h-[calc(100vh-320px)] w-full min-w-[1200px]
}
.return-feedback-modal-buttons {
  @apply
  flex
  w-[80px]
  h-[36px]
  rounded-[2px]
  justify-center
  hover:cursor-pointer
  items-center
  font-notoSansCJKKR
  font-[400]
  text-[14px]
  leading-normal
  text-center
}
.return-feedback-modal-disabled-buttons {
  @apply
  flex
  w-[80px]
  h-[36px]
  rounded-[2px]
  justify-center
  items-center
  font-notoSansCJKKR
  font-[400]
  text-[14px]
  leading-normal
  text-center
  bg-[#eaeaea]
  text-[#999]
}
/* 돋보기 */
.rubric-magnifying-glass-button {
  @apply
  absolute
  top-0
  right-0
  w-[36px]
  h-[36px]
  bg-no-repeat
  bg-svg-bt-info-magnifying-glass-icon
  hover:cursor-pointer
}

/* export 학습관리 */
.export-lm-wh-draft-info-div {
  box-shadow: 0 0.79375mm 1.5875mm 0 rgba(0, 0, 0, 0.16);
  @apply
  flex
  flex-row
  border-[0.3mm]
  border-[#0fa9cb]
  rounded-[7.9375mm]
  bg-white
  justify-center
}
.export-lm-wh-font-gothamrounded {
  font-family: 'GothamRounded';
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color:#222;
  @apply
  flex
  capitalize
}
.export-lm-wh-font-sub-title {
  font-family: 'NotoSansCJKKR';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #222;
  @apply
  flex
  capitalize
}
.export-lm-wh-font-step-span {
  font-family: 'NotoSansCJKKR';
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  
  @apply
  flex
  
  capitalize
  text-white
}
.export-lm-wh-font-label {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: left;
  color: #999;
  @apply
  capitalize
}
.export-report-wr-userinfo-font-label {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  @apply
  capitalize
}
.export-portfolio-wr-userinfo-font-label {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #999;
  @apply
  capitalize
}
.export-portfolio-wr-userinfo-font-value {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.export-report-wr-userinfo-font-value {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.export-report-wr-big-title-font {
  font-family: 'GothamRounded';
  font-size: 3.870mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.595mm;
  letter-spacing: normal;
  text-align: center;
  color: #222;
}
.export-report-wr-bar-titles {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 5.321mm;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  @apply
  capitalize
}
.export-report-wr-sa-title-font {
  font-family: 'GothamRounded';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  @apply
  capitalize
}
.export-report-wr-sa-ar-title {
  font-family: 'NotoSansCJKKR';
  font-size: 2.660mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 8.465mm;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.export-report-wr-sa-ar-value {
  font-family: 'NotoSansCJKKR';
  font-size: 2.660mm;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.export-report-wr-oc-input {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.export-lm-wh-font-value {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.export-report-wr-multi-values {
  font-family: 'GothamRounded';
  font-size: 2.660mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: left;
  color: #555;
}

.export-lm-wh-content-title {
  @apply
  bg-[#0fa9cb]
  absolute
  -left-[6mm]
  top-[10.583333333mm]
  w-fit
  h-[13.06mm]
  text-white
  rounded-r-[6.503mm]
  flex items-center
  pl-[4.7625mm]
  pr-[7.9375mm]
}
.export-lm-wh-content-title-deco {
  border-top: 3mm solid #177a8f;
  border-right: 2.8mm solid #177a8f;
  border-bottom: 3mm solid transparent;
  border-left: 2.8mm solid transparent;
  @apply
  absolute
  -left-[5.8mm]
  top-[23.7mm]
  w-0
  h-0
}
.export-portfolio-content-title-deco {
  border-top: 2.6mm solid #177a8f;
  border-right: 2.6mm solid #177a8f;
  border-bottom: 2.6mm solid transparent;
  border-left: 2.6mm solid transparent;
  @apply
  w-0
  h-0
}
.export-lm-wh-content-title-value {
  font-family: 'GothamRounded';
  font-size: 3.628mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: left;
  vertical-align: middle;
  @apply
  h-[4.353mm]
}
.export-lm-wh-content-body {
  font-family: 'NotoSansCJKKR';
  font-size: 3.7041666667mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 7.9375mm;
  letter-spacing: normal;
  text-align: left;
  color: #555;
  @apply
  mt-[31.2mm]
  mx-[13.229166667mm]
  mb-[9.674mm]
  flex flex-col
  w-[160.588mm]
  h-[195.662mm]
}
.export-lm-wh-content-pre-body {
  font-family: 'NotoSansCJKKR';
  font-size: 3.7041666667mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 7.9375mm;
  letter-spacing: normal;
  text-align: left;
  color: #555;
  @apply
  mx-[13.229166667mm]
  flex flex-col
  w-[160.588mm]
  h-[195.662mm]
}
.print-container {
  break-after: page;
}
/* .print-container + .print-container {
  margin-top:0;
} */
@page {
  /* margin: 0; */
  width: 210mm;
  height: 297mm;
}
@media print {
  /* .print-container + .print-container {
    margin-top:0;
  } */
  @page {
    /* margin: 0; */
    width: 210mm;
    height: 297mm;
  }
  /* .print-container {
  } */
}

.export-bt-print {
  @apply
  bg-svg-bt-print
  bg-no-repeat
  w-[36px]
  h-[36px]
}
.export-bt-pdf {
  @apply
  bg-svg-bt-pdf
  bg-no-repeat
  w-[36px]
  h-[36px]
}

.export-lm-wh-draft-info-numbering-div {
  font-family: 'GothamRounded';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.628mm;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #0fa9cb;
  @apply
  h-[9.674mm]
  w-[27.176mm]
  rounded-t-[7.256mm]
  flex items-center justify-center
  absolute
  bottom-0
}
.export-portfolio-paging-box {
  font-family: 'GothamRounded';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.628mm;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #0fa9cb;
  @apply
  h-[9.674mm]
  w-[27.176mm]
  rounded-t-[7.256mm]
  flex items-center justify-center
}
.export-portfolio-body-content-font {
  font-family: 'NotoSansCJKKR';
  font-size: 3.386mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #555
}

.learning-management-1st-draft-comments-no-comments-font {
  font-family: 'NotoSansCJKKR';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999;
}

.lm-bt-report-in-table {
  @apply
  bg-svg-bt-report-lm
  bg-no-repeat
  w-[38px]
  h-[44px]
}
.bt-go-report-in-modal {
  @apply
  bg-svg-bt-go-report
  bg-no-repeat
  w-[111.3px]
  h-[40px]
  hover:bg-svg-bt-go-report-over
}

.report-chart-report-by-unit-title {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: normal;
  letter-spacing: normal;
  @apply
  flex flex-row
  text-[#222]
}

.report-chart-right-components-div {
  @apply
  flex flex-col
  w-[640px]
  gap-[15px]
}
.report-chart-righ-word-count-div {
  @apply
  flex flex-col
  w-[640px]
  justify-center
}
.report-chart-righ-word-count-title {
  
  @apply
  capitalize
  flex flex-row
  justify-center
  items-center
  rounded-t-[15px]
  text-[#222]
  w-[640px]
  h-[20px]
  pb-[7px]
}
.report-chart-righ-word-count-title-span {
  font-family: 'GothamRounded';
  font-size: 16px;
  font-weight: 500;
  font-stretch: 'normal';
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  @apply
  capitalize
  flex flex-row
  justify-center
  items-center
  rounded-t-[15px]
  text-[#222]
  w-[180px]
  h-[20px]
}
.report-chart-righ-word-count-content {
  @apply
  flex flex-row
  border-[1px]
  border-[#dddddd]
  rounded-[20px]
  w-[640px]
  h-[114px]
  items-center
}
.report-chart-righ-word-count-content-wrap {
  @apply
  flex flex-1
  flex-col
  w-full
  justify-center
  items-start
  pl-[20px]
}
.report-chart-righ-word-count-content-divide-line {
  @apply
  flex
  border-l-[1px]
  w-[1px]
  h-[50px]
}
.report-chart-righ-word-count-content-title {
  font-family: 'NotoSansCJKKR';
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  
  @apply
  text-[#222]
  flex flex-row
  items-center
  justify-center
}
.report-chart-righ-word-count-content-items {
  @apply
  flex flex-col
  w-full
}
.report-chart-righ-word-count-content-item {
  @apply
  flex flex-row
}
.report-chart-righ-word-count-content-item-title {
  font-family: 'NotoSansCJKKR';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  @apply
  flex flex-row w-[128px]
  capitalize
}
.report-chart-righ-word-count-content-item-value {
  font-family: 'GothamRounded';
  font-size: 12px;
  text-align: left;
  line-height: 1.5;
  @apply
  text-[#0fa9cb]
  flex flex-row
  pl-[10px]
}


.portfolio-modal-contents-font {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: left;
  color: '#222'
}

.report-chart-righ-correction-content {
  @apply
  flex flex-col
  border-[1px]
  border-[#dddddd]
  rounded-[20px]
  w-[640px]
  h-[202px]
  py-[13px]
  px-[20px]
}
.report-chart-righ-correction-content-item-title {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  font-weight: 400;
  line-height: 1.54;
  text-align: left;
  @apply
  flex flex-row w-fit
  capitalize
}
.report-chart-righ-correction-content-item-value {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  font-weight: 400;
  line-height: 1.54;
  text-align: left;
  @apply
  text-[#0fa9cb]
  flex flex-row
  pl-[10px]
}
.report-chart-righ-correction-content-item-arrow {
  @apply
  flex flex-row
  justify-center
  items-center
  pl-[3px]
}
.report-chart-righ-correction-content-wrap-1 {
  @apply
  flex
  flex-col
  w-full
  items-start
}
.report-chart-righ-correction-content-wrap-2 {
  @apply
  flex flex-1
  flex-col
  border-[1px]
  border-[#eee]
  bg-[#f9f9f9]
  rounded-[2px]
  w-[600px]
  h-[80px]
  min-h-[80px]
  max-h-[80px]
  px-[10px]
  py-[6px]
  overflow-y-auto
}
.report-chart-righ-correction-content-item {
  @apply
  flex flex-col
  gap-[5px]
  hover:cursor-pointer
}
.report-chart-righ-correction-content-items {
  @apply
  flex flex-col
  w-full
  gap-[6px]
}
.report-chart-correction-content-wrap {
  @apply
  /* flex */
  /* justify-center
  items-center */
  h-fit
  cursor-default
}
.report-chart-correction-content-delete-text {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  font-weight: 400;
  line-height: 1.54;
  text-align: left;
  @apply
  rounded-[5px]
  text-[#eb3a3a]
  line-through
  /* bg-[#ffe8e8] */
  h-fit
}
.report-chart-correction-content-add-text {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  font-weight: 400;
  line-height: 1.54;
  text-align: left;
  @apply
  rounded-[5px]
  text-[#00be91]
  /* bg-[#def4e7] */
  h-fit
}
.grammar-tooltip-custom-content-normal-text {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  font-weight: 400;
  line-height: 1.54;
  text-align: left;
  @apply
  rounded-[5px]
  text-[#222]
  h-fit
}
.report-chart-report-by-unit-title {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: normal;
  letter-spacing: normal;
  @apply
  flex flex-row
  text-[#222]
}
.report-chart-teacher-comment-content-box {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  font-weight: 400;
  line-height: 1.54;
  text-align: left;
  @apply
  flex flex-col
  border-[1px]
  border-[#dddddd]
  rounded-[20px]
  w-[640px]
  h-[85px]
  max-h-[85px]
  min-h-[85px]
  py-[13px]
  px-[20px]
  overflow-y-auto
}

/* report chart custom tooltips */
.custom-tooltip {
  @apply
  bg-no-repeat
  object-fill
  /* bg-white */
  max-w-[262px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-organization {
  @apply
  bg-report-rechart-custom-tooltip-box-organization
  bg-no-repeat
  object-fill
  max-w-[262px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-voice {
  @apply
  bg-report-rechart-custom-tooltip-box-voice
  bg-no-repeat
  object-fill
  max-w-[262px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-conventions {
  @apply
  bg-report-rechart-custom-tooltip-box-conventions
  bg-no-repeat
  object-fill
  max-w-[262px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-sentencefluency {
  @apply
  bg-report-rechart-custom-tooltip-box-sentencefluency
  bg-no-repeat
  object-fill
  max-w-[262px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-wordchoice {
  @apply
  bg-report-rechart-custom-tooltip-box-wordchoice
  bg-no-repeat
  object-fill
  max-w-[262px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-ideas {
  @apply
  bg-report-rechart-custom-tooltip-box-ideas
  bg-no-repeat
  object-fill
  max-w-[262px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-title {
  font-family: 'NotoSansCJKKR';
  font-weight: 500;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.43;
  @apply
  text-[#222]
  
}
.custom-tooltip-content {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  @apply
  text-[#222]
  h-full 
}
.report-by-unit-title-label {
  font-family: 'NotoSansCJKKR';
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  @apply
  text-[#222]
  h-[29px]
}
.report-by-unit-completion-date-title {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  @apply
  text-[#222]
}
.report-by-unit-completion-date-content {
  font-family: 'NotoSansCJKKR';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  @apply
  text-[#222]
}

.report-export-print-button {
  @apply
  w-[82px]
  h-[36px]
  bg-no-repeat
  bg-report-export-print-btn
  hover:bg-report-export-print-btn-over
}